<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="frznUpload.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <frznUpload.Client.Properties.Settings>
            <setting name="KeyFile" serializeAs="String">
                <value>client.pfx</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>22340</value>
            </setting>
            <setting name="Hotkeys" serializeAs="String">
                <value />
            </setting>
            <setting name="Url" serializeAs="String">
                <value>localhost</value>
            </setting>
        </frznUpload.Client.Properties.Settings>
    </userSettings>
</configuration>
