<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Prerelease" value="true"/>
		<add key="CertFile" value="client.pfx"/>
		<add key="Port" value="22340"/>
		<add key="Hotkeys" value=""/>
		<add key="Url" value="localhost"/>
		<add key="ShareGenUrl" value="http://localhost:5000/v/"/>
	</appSettings>
</configuration>
