<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Prerelease" value="false"/>
		<add key="CertFile" value="../client.pfx"/>
		<add key="Port" value="22340"/>
		<add key="Hotkeys" value=""/>
		<add key="Url" value="dyn.fritzen.xyz"/>
		<add key="ShareGenUrl" value="https://fritzen.xyz/v/"/>
	</appSettings>
</configuration>
