@page
@model frznUpload.Web.Areas.Account.Pages.Manage.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Change Password</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmNewPassword"></label>
                <input asp-for="Input.ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}