@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a href="https://github.com/fritz3n/frznUpload/releases">frznUpload</a> to download the client and start uploading files!</p>
</div>
