@model FileViewInfo
    <div class="outerImageContainer">
        <img id="image" src="@Model.SourcePath" alt="@HttpUtility.JavaScriptStringEncode(Model.FileName)" />
    </div>

@Html.PartialSection("Css",
        @<link href="/lib/viewerjs/viewer.min.css" rel="stylesheet">
,@<link href="/css/ImageViewer.css" rel="stylesheet">
)

    @Html.PartialSection("Scripts",
        @<script src="/lib/viewerjs/viewer.min.js"></script>
,@<script src="/js/VideoViewer.js"></script>
)

