@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container-xxl ml-5">
    <h2>Account</h2>

    <div>
        <div class="row">
            <div class="col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-link">
                        <a class="nav-link" asp-area="Account" asp-page="/Files/Index">Files</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" asp-area="Account" asp-page="/Shares/Index">Shares</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" asp-area="Account" asp-page="/Tokens/Index">Tokens</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" asp-area="Account" asp-page="/Manage/ChangePassword">Change Password</a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link" asp-area="Account" asp-page="/Manage/Delete">Delete Account</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

@section Css {
    @RenderSection("Css", required: false)
}
